p{
    text-align: center;
    margin: 10px 0px ;
}
.list{
    list-style: none;
    display: flex;
   
    li{
        padding: 56px 88px;
        border: 1px double hsl(300, 47%, 75%);
        margin: 0px 24px;
        border-radius: 20px;
        box-shadow:hsl(300, 26%, 83%) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
      
        a{
            text-decoration: none;
            color: purple;    
        } 
    }
    li:hover{
        background-color: rgb(240, 225, 243);
    }
}
